body {
    padding: 0;
    margin: 0;
}
main {
    float: left;
    display: block;
}
aside {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    width: 20%;
}

@font-face {
    font-family: Default-theme;
    src: url(Assets/Default/font.ttf);
}

@font-face {
    font-family: Thanksgiving-theme;
    src: url(Assets/Thanksgiving/font.ttf);
}

@font-face {
    font-family: Winter-theme;
    src: url(Assets/Winter/font.ttf);
}

@font-face {
    font-family: Christmas-theme;
    src: url(Assets/Christmas/font.ttf);
}

@font-face {
    font-family: Computer-theme;
    src: url(Assets/Computer/font.ttf);
}

@font-face {
    font-family: Alternate-theme;
    src: url(Assets/Alternate/font.ttf);
}

@font-face {
    font-family: TEST-theme;
    src: url(Assets/TEST/font.ttf);
}